Repository kiforks/kifor-stylelint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc.json:

{
	"*.{ts,html,json,scss,js,tsx,jsx}": ["prettier --check"],
	"*.{ts,tsx,html,js,jsx}": ["eslint"]
}

feat [DEV-1]: Add new configuration for the tsconfig
  tsconfig.json
Due: prettier --check

feat [DEV-1]: Add paths to the jest configuration file
  jest.config.js
Due: prettier --check, eslint

feat [DEV-1]: Add root .stylelintrc.js file to git ignore
  .gitignore
Due: none

feat [DEV-1]: Remove .stylelintrc.js file from the root
  .stylelintrc.js
Due: prettier --check, eslint

feat [DEV-1]: Remove old commitlint.config.js file
  commitlint.config.js
Due: prettier --check, eslint

feat [DEV-1]: Add changelog description
  CHANGELOG.md
Due: none

feat [DEV-1]: Change the character limit for branch names
  .husky/pre-push
Due: none

ci [DEV-1]: Add "public" flag for the publish command
  .github/workflows/cd.yml
Due: none

ci [DEV-1]: Add NODE_AUTH token
  .github/workflows/cd.yml
Due: none

ci [DEV-1]: Add NPM_ACCESS_TOKEN token
  .github/workflows/cd.yml
Due: none

fix [DEV-1]: Change description
  README.md
Due: none
