Repository kiforks/kifor-stylelint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc.json:

{
	"*.{ts,html,json,scss,js,tsx,jsx}": ["prettier --check"],
	"*.{ts,tsx,html,js,jsx}": ["eslint"]
}

feat: changed rules
  .stylelintrc.js
  src/core/rule/configs/rule-no-unknown/rule-no-unknown.config.spec.ts
  src/core/rule/configs/rule-no-unknown/rule-no-unknown.config.ts
  src/index.spec.ts
  src/index.ts
  src/js/tests/stylelint-config-standart.spec.js
  src/js/tests/stylelint-scss.spec.js
Due: prettier --check, eslint

perf: updated packages
  package-lock.json
  package.json
Due: prettier --check

chore: changed changelog
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

fix: fixed changelog
  CHANGELOG.md
Due: none

fix: peer stylelint package version
  package.json
Due: prettier --check

chore: changed changelog
  CHANGELOG.md
Due: none

ci: updated "deploy" and "build" workflows
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: none

chore: updated package version and changelog description
  CHANGELOG.md
  package.json
Due: prettier --check

refactor: added "build" workflow job names
  .github/workflows/build.yml
Due: none

chore: updated "eslint-config-kifor" package version
  package-lock.json
  package.json
Due: prettier --check

fix: updated permissions for deploy workflow
  .github/workflows/deploy.yml
Due: none

fix: updated changelog description and package version
  CHANGELOG.md
  package.json
Due: prettier --check

fix: "deploy" workflow creating tag
  .github/workflows/deploy.yml
  CHANGELOG.md
  package.json
Due: prettier --check

fix: creating tag job from "deploy" workflow
  .github/workflows/deploy.yml
  CHANGELOG.md
  package.json
Due: prettier --check

fix: creating tag job from "deploy" workflow
  .github/workflows/deploy.yml
  CHANGELOG.md
Due: none

fix: fixed package version
  .github/workflows/deploy.yml
  CHANGELOG.md
  package.json
Due: prettier --check

refactor: added .gitattributes file with configuration
  .gitattributes
Due: none

refactor: upgraded package versions
  package-lock.json
  package.json
Due: prettier --check

refactor: upgraded version of package
  CHANGELOG.md
  package.json
Due: prettier --check

fix: changed deploy workflow name
  .github/workflows/deploy.yml
Due: none

refactor: removed dependabot.yml configuration file
  .github/dependabot.yml
Due: none

chore: image was updated by new git attributes configurations
  vscode-error.png
Due: none

refactor: updated package versions
  package-lock.json
  package.json
Due: prettier --check

chore: change CHANGELOG.md file description
  CHANGELOG.md
Due: none

fix: changed package version
  package.json
Due: prettier --check

fix: updated ignoring linter files
  .eslintignore
  .npmignore
  .stylelintignore
  CHANGELOG.md
Due: none

fix: reverted rollback package version
  package-lock.json
  package.json
Due: prettier --check

fix: fixed tests
  src/js/tests/stylelint-config-standart.spec.js
Due: prettier --check, eslint

fix: rollback packe version
  package-lock.json
  package.json
Due: prettier --check

refactor: changed "value-keyword-case" rule configuration
  .stylelintrc.js
  src/index.spec.ts
  src/index.ts
  src/js/tests/stylelint-config-standart.spec.js
Due: prettier --check, eslint

refactor: restrict package versions
  .husky/commit-msg
  .husky/pre-commit
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --check

test: fix tests
  package-lock.json
  src/js/tests/stylelint-config-standart.spec.js
Due: prettier --check, eslint

feat [DEV-1]: Implement new husky commit linters
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

feat [DEV-1]: Update package versions and change script commands
  package-lock.json
  package.json
Due: prettier --check

feat [DEV-1]: Add new rules to the eslint configuration file
  .eslintrc.json
Due: prettier --check

feat [DEV-1]: Add issues templates for the github actions
  .github/ISSUE_TEMPLATE/bug-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

ci [DEV-1]: Update workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

ci [DEV-1]: Add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

ci [DEV-1]: Add labeler configuration file
  .github/labeler.yml
Due: none
